
<h1> Creator: <%= .getName() %></h1>

<hr />

<a href='/posts/new' class='btn btn-primary'> Be Creative</a>

<p> <%= .post %></p>
<hr />


<% if(user && user.posts) { %>
    <% user.posts.forEach(function(a) {
        <div class='well'>
            <h3>
                <a href='/posts/<%= a.id %>'><%= a.title %></a>
            </h3>
        </div>
   <% }) %>
<% } else { %>
    <h3> No Sonnet Yet </h3>
<% } %>