nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 1em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#lb {
  background img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.deviantart.com%2Fpeterkmiecik%2Fart%2FFree-Stock-Wheat-Fields-Grain-Plains-Mountains-Sky-758099843&psig=AOvVaw2QGYrRnEeGct4fVGDsk5vQ&ust=1613868290941000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjz54Ge9-4CFQAAAAAdAAAAABAE")
      no repeat;
      background-size: cover;
      opacity: 0.5;
}

h1 {
  color: rgb(110, 110, 105);
}
body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fpoem-background.html&psig=AOvVaw3mcYgurJSa6dv3V1G7Q1gf&ust=1613835686416000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOim0sak9u4CFQAAAAAdAAAAABAO");
  background-color: #cccccc;
 }