<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg/500px-D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg">
        </div>
      </div>
      <h1>Creative Content From Contributors Like You</h1>
  
      <% posts.forEach(function(a) { %>
        <div class="well">
          <h2>
            <a href="/posts/<%= a.id %>"><%= a.title %></a>
            <small>by <%= a.user.getFullName() %></small>
          </h2>
          <p>
            <strong><%= moment(a.createdAt).calendar() %></strong>
          </p>
        </div>
      <% }) %>
  
    </div>
    <div class="col-sm-4">
      <h2>For You</h2>
      <p>This is a place for you to contribute your creative energy to the world.</p>
    </div>
  </div>
  