<div>
  <form method="POST" action="/posts">
    <fieldset>
      <legend class="text-center">Go On Then, Let Us hear Your Piece</legend>
      <div>
        <label for="title">Your Prose:</label>
        <input type="text" name="title" id="title" placeholder="What shall we call it?" />
      </div>
      <div>
        <label for="title">As You Will Goodperson:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="18"></textarea>
      </div>
      <button>Post</button>
    </fieldset>
  </form>
</div>